Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/54f290a0.yml
Due: pretty-quick --staged, essex prettify --staged

clean up thematicfluentdecorator
  packages/config-storybook/src/ThematicFluentDecorator.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/config-storybook/src/ThematicFluentDecorator.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Fluent 9 Theming Support in Storybook Config (#870)
  .vscode/settings.json
  .yarn/versions/54f290a0.yml
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

library updates
  .vscode/extensions.json
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update sdks
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version cut
  .yarn/versions/52e15e46.yml
  packages/config-ts-node18/tsconfig.json
  packages/scripts/package.json
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-dual/docs/report/test-lib-dual.api.json
  packages/test-lib-dual/docs/report/test-lib-dual.api.md
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-esm/docs/report/test-lib-esm.api.json
  packages/test-lib-esm/docs/report/test-lib-esm.api.md
  packages/test-lib-legacy/docs/markdown/index.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.add.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.c.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.helloworld.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.md
  packages/test-lib-legacy/docs/report/test-lib-legacy.api.json
  packages/test-lib-legacy/docs/report/test-lib-legacy.api.md
  packages/test-vite/src/main.tsx
  packages/test-webpack-custom-cjs/src/index.tsx
  packages/test-webpack-custom-esm/src/index.tsx
  packages/test-webpack/src/index.tsx
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

test updates, lib updates
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-vite/tsconfig.json
  packages/test-webpack/src/index.tsx
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove prettier recommendation
  .vscode/extensions.json
Due: pretty-quick --staged, essex prettify --staged

skiplibcheck on vite tester
  packages/test-vite/tsconfig.json
Due: pretty-quick --staged, essex prettify --staged

remove @essex/adjacent-await
  package.json
  packages/config-webpack/src/configure.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/eslint-plugin/src/rules/adjacent-await.ts
  packages/eslint-plugin/src/rules/extensions.docs.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/test/rules/adjacent-async-await/index.js
  packages/eslint-plugin/test/rules/adjacent-async-await/test.es.lint
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_bundle.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  rome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

rules tune-up
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

eslint update
  package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-zips/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove duplicate entry
  packages/eslint-plugin/src/essex/overrides.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/52e15e46.yml
  .yarn/versions/54f290a0.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

use yarn v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

remove prettier from top-level
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  package.json
  packages/eslint-plugin/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove prettier configuration
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/config-prettier/CHANGELOG.md
  packages/config-prettier/README.md
  packages/config-prettier/index.js
  packages/config-prettier/package.json
  packages/scripts/config/init/prettierignore
  packages/scripts/config/init/prettierrc
  packages/scripts/docs/check.md
  packages/scripts/docs/fix.md
  packages/scripts/docs/format.md
  packages/scripts/package.json
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_format.mts
  packages/scripts/src/steps/init/monorepo.mts
  packages/scripts/src/steps/pretty-quick/index.mts
  packages/scripts/src/steps/runFormatter.ts
  packages/scripts/src/types.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove lint-staged configuration
  packages/scripts/docs/precommit.md
  packages/scripts/package.json
  packages/scripts/src/steps/init/monorepo.mts
  packages/scripts/src/util/package.mts
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

use Node 18
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/b7eeaed0.yml
Due: pretty-quick --staged, essex prettify --staged

use Node 18 in version-check
  .github/workflows/version-check.yml
Due: pretty-quick --staged, essex prettify --staged

use Node 18 in CI
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

remove prettier from top-level (#904)
  .github/workflows/ci.yml
  .github/workflows/version-check.yml
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/versions/b7eeaed0.yml
  package.json
  packages/config-prettier/CHANGELOG.md
  packages/config-prettier/README.md
  packages/config-prettier/index.js
  packages/config-prettier/package.json
  packages/eslint-plugin/package.json
  packages/scripts/config/init/prettierignore
  packages/scripts/config/init/prettierrc
  packages/scripts/docs/check.md
  packages/scripts/docs/fix.md
  packages/scripts/docs/format.md
  packages/scripts/docs/precommit.md
  packages/scripts/package.json
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_format.mts
  packages/scripts/src/steps/init/monorepo.mts
  packages/scripts/src/steps/pretty-quick/index.mts
  packages/scripts/src/steps/runFormatter.ts
  packages/scripts/src/types.mts
  packages/scripts/src/util/package.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/b7eeaed0.yml
  packages/config-eslint/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

remove some build modes
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_watch.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  packages/test-vite/src/App.tsx
  packages/test-webpack/src/App.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove webpack-custom-cjs tester
  packages/test-webpack-custom-cjs/jest.config.js
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-cjs/webpack.config.js
  packages/test-webpack-custom-esm/.swcrc
  packages/test-webpack-custom-esm/src/App.tsx
  packages/test-webpack-custom-esm/src/__tests__/App.spec.ts
  packages/test-webpack-custom-esm/src/index.css
  packages/test-webpack-custom-esm/src/index.tsx
  packages/test-webpack-custom-esm/src/state/index.ts
  packages/test-webpack-custom-esm/tsconfig.json
  packages/test-webpack-custom/.swcrc
  packages/test-webpack-custom/jest.config.js
  packages/test-webpack-custom/package.json
  packages/test-webpack-custom/src/App.tsx
  packages/test-webpack-custom/src/__tests__/App.spec.ts
  packages/test-webpack-custom/src/index.css
  packages/test-webpack-custom/src/index.tsx
  packages/test-webpack-custom/src/state/index.ts
  packages/test-webpack-custom/tsconfig.json
  packages/test-webpack-custom/webpack.config.js
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

build updates
  .eslintrc
  packages/eslint-plugin/docs/rules/extensions.md
  packages/eslint-plugin/src/__tests__/rules/extensions.test.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/extensions.defaults.ts
  packages/eslint-plugin/src/rules/extensions.docs.ts
  packages/eslint-plugin/src/rules/extensions.messages.ts
  packages/eslint-plugin/src/rules/extensions.schema.ts
  packages/eslint-plugin/src/rules/extensions.ts
  packages/eslint-plugin/src/rules/extensions.validator.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/test-lib-dual/package.json
  packages/test-lib-dual/tsconfig.json
  packages/test-lib-esm/package.json
  packages/test-lib-esm/tsconfig.json
  rome.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

fix zip test
  packages/scripts/src/steps/zip/zip.mts
  packages/test-webpack-custom/src/index.tsx
  packages/test-webpack/package.json
  packages/test-webpack/src/index.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/a3bd6d02.yml
Due: pretty-quick --staged, essex prettify --staged

fix is-clean script
  packages/eslint-plugin/msHeader.js
  packages/scripts/src/commands/_git-is-clean.mts
  packages/test-lib-dual/jest.config.js
  packages/test-lib-dual/src/index.ts
  packages/test-lib-dual/src/letters/index.ts
  packages/test-lib-dual/src/rendering.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

library updates
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

swc utils cleanup
  packages/config-storybook/package.json
  packages/config-storybook/src/main.ts
  packages/util-swc-opts/src/index.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/a3bd6d02.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

Path conditions:
  pretty-quick --staged: any of: **/*
  yarn essex lint --fix --staged: any of: **/*.{js,jsx,ts,tsx}
  essex prettify --staged: any of: *
  essex lint --fix --staged: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
