Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

update turbo in ci
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

add @fluentui/react resolve alias
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

lint updates
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/babel.config.ts
  packages/config-storybook/src/index.ts
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/preview.ts
  packages/test-stories/src/test.stories.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

ignore storybook output; drop node 18 b/c of storybook
  .github/workflows/ci.yml
  .gitignore
Due: pretty-quick --staged, essex prettify --staged

update sb config
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/config-storybook/src/main.ts
  rome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

use regexp in default transpile matchers
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Run formatter
  package.json
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add make rome_fix script public
  package.json
Due: pretty-quick --staged, essex prettify --staged

remove an addon
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Remove another addon
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

peer out sb deps
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/main.ts
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run format
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add storybook-static to eslintignore
  .eslintignore
Due: pretty-quick --staged, essex prettify --staged

restore 18.x
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

Add shared configuration for storybook in new '@essex/storybook-config' package. (#836)
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .yarn/versions/2705a60d.yml
  .yarnrc.yml
  package.json
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/babel.config.ts
  packages/config-storybook/src/index.ts
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/preview.ts
  packages/config-storybook/tsconfig.json
  packages/test-stories/.storybook/babel.config.js
  packages/test-stories/.storybook/main.js
  packages/test-stories/.storybook/preview.js
  packages/test-stories/package.json
  packages/test-stories/src/test.stories.tsx
  packages/test-stories/tsconfig.json
  rome.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

bump libraries
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update sdks
  .vscode/extensions.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/8833f043.yml
Due: pretty-quick --staged, essex prettify --staged

remove node 18 from ci, webpack 4 incompat
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

yarn resolution
  .yarnrc.yml
Due: pretty-quick --staged, essex prettify --staged

clean up yarn warnings
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

pre-release library refresh (#837)
  .github/workflows/ci.yml
  .vscode/extensions.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/versions/8833f043.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update a few more libs
  packages/config-storybook/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/6ebf2f08.yml
Due: pretty-quick --staged, essex prettify --staged

revert api-extractor
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

fix check script
  package.json
Due: pretty-quick --staged, essex prettify --staged

Task/lib update (#838)
  .yarn/versions/6ebf2f08.yml
  package.json
  packages/config-storybook/package.json
  packages/eslint-plugin/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

cut release
  .yarn/versions/2705a60d.yml
  .yarn/versions/6ebf2f08.yml
  .yarn/versions/8833f043.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-stories/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

add release stcript to config/storybook
  packages/config-storybook/package.json
Due: pretty-quick --staged, essex prettify --staged

add typescript peer to @storybook/config
  packages/config-storybook/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/40e291dc.yml
Due: pretty-quick --staged, essex prettify --staged

Add Typescript peer to storybook-config (#839)
  .yarn/versions/40e291dc.yml
  packages/config-storybook/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

version cut
  .yarn/versions/40e291dc.yml
  packages/config-storybook/package.json
Due: pretty-quick --staged, essex prettify --staged

Init codespace
  .devcontainer/yarn.lock
Due: pretty-quick --staged, essex prettify --staged

Support nested folders for markdown
  packages/scripts/src/steps/build-md-index/index.mts
  packages/test-lib-md-index/docs/d/f/g.md
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Changeset
  .yarn/versions/2154036c.yml
Due: pretty-quick --staged, essex prettify --staged

Cut release
  .yarn/versions/2154036c.yml
  packages/scripts/package.json
  packages/test-lib-md-index/package.json
Due: pretty-quick --staged, essex prettify --staged

add storybook 7 support, React 18 to build
  .github/workflows/ci.yml
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/babel.config.ts
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/preview.ts
  packages/scripts/src/steps/checkDeps.ts
  packages/test-stories/.storybook/babel.config.js
  packages/test-stories/.storybook/preview.js
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged
