Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

ci: Use GITHUB_OUTPUT envvar instead of set-output command
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

update yarn
  .yarn/releases/yarn-4.0.0-rc.50.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

run ci for node LTS versions
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

expand build matrix
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

rome -> biome
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  docs/js-dev-standards.md
  package.json
  packages/config-jest/src/index.ts
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/main.ts
  packages/config-ts-base/tsconfig.json
  packages/config-webpack/src/outputConfig/devServer.ts
  packages/eslint-plugin/src/essex/parserOptions.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/scripts/docs/check.md
  packages/scripts/src/commands/_build-md-index.mts
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_watch.mts
  packages/scripts/src/entry.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/esmify/index.mts
  packages/scripts/src/steps/init/lib.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/verifyExports/index.mts
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/package.mts
  packages/scripts/src/util/walk.mts
  packages/test-zips/src/__tests__/zips.spec.ts
  packages/util-swc-opts/src/index.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove import-sorting eslint plugin
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/essex/overrides.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

biome formatting
  packages/eslint-plugin/src/essex/parserOptions.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_watch.mts
  packages/scripts/src/entry.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/verifyExports/index.mts
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/package.mts
  packages/scripts/src/util/walk.mts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add lineending config
  .yarn/versions/a3436b75.yml
  biome.json
Due: pretty-quick --staged, essex prettify --staged

update gitattributes
  .gitattributes
Due: pretty-quick --staged, essex prettify --staged

remove unused config
  biome.json
Due: pretty-quick --staged, essex prettify --staged

update @swc/cli and @swc/core
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

disable fail-fast in build matrix
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

clean up config, update sdks
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  biome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

ignore .vscode, .yarn
  biome.json
Due: pretty-quick --staged, essex prettify --staged

clean up config, update sdks (#909)
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  biome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update swc
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

swc updates
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

version check
  .yarn/versions/a01bc2d0.yml
Due: pretty-quick --staged, essex prettify --staged

add --strip-leading-paths to swc args
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
Due: pretty-quick --staged, essex prettify --staged

remove rules covered by biome
  .eslintrc
  docs/js-dev-standards.md
  packages/config-eslint/.eslintrc
  packages/config-eslint/rome.js
  packages/config-eslint/romefast.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/eslint-plugin/src/index.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove prettier-based documentation
  .devcontainer/devcontainer.json
  .gitattributes
  .vscode/settings.json
  docs/js-dev-standards.md
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/scripts/README.md
  packages/scripts/docs/check.md
  packages/scripts/src/commands/_bundle.mts
  packages/scripts/src/commands/_serve.mts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Update SWC (#910)
  .github/workflows/ci.yml
  .yarn/versions/a01bc2d0.yml
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

sweep through rules
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

formatting
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

rule update
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

biome update
  biome.json
  packages/config-jest/resolver.cjs
  packages/eslint-plugin/test/utils/adaptTslintTestCase.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

biome update
  biome.json
  packages/config-vite/src/index.ts
  packages/config-webpack/src/inputConfig/ConfigurationManager.ts
  packages/scripts/src/commands/_build-md-index.mts
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_bundle.mts
  packages/scripts/src/commands/_check-deps.mts
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_clean.mts
  packages/scripts/src/commands/_deploy.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_git-is-clean.mts
  packages/scripts/src/commands/_init.mts
  packages/scripts/src/commands/_serve.mts
  packages/scripts/src/commands/_watch.mts
  packages/scripts/src/commands/_zip.mts
  packages/scripts/src/steps/init/util.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  packages/scripts/src/types.mts
  packages/test-lib-esm/jest.config.js
  packages/test-lib-esm/src/index.ts
  packages/test-stories/src/test.stories.tsx
  packages/test-vite/vite.config.ts
  packages/test-webpack-custom/jest.config.js
  packages/test-webpack-custom/src/__tests__/App.spec.tsx
  packages/test-webpack-custom/webpack.config.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

formatting
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/util/tasklogger.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

enable biome rule
  biome.json
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/checkDeps.ts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/getSourceFiles.mts
  packages/scripts/src/steps/verifyExports/checkApi.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/test-zips/src/__tests__/zips.spec.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

enable biome rules
  biome.json
  packages/scripts/src/commands/_watch.mts
  packages/scripts/src/entry.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/index.mts
  packages/scripts/src/steps/verifyExports/index.mts
  packages/scripts/src/steps/webpack/build.mts
  packages/scripts/src/steps/webpack/serve.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/package.mts
  packages/scripts/src/util/tasklogger.mts
  packages/util-swc-opts/src/index.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update archiver
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

webpack updates
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack-custom/src/index.tsx
  packages/test-webpack-custom/webpack.config.js
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update serve command
  packages/scripts/src/steps/webpack/serve.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

use cjs for custom webpack module
  packages/test-webpack-custom/package.json
  packages/test-webpack-custom/webpack.config.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update typescript
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update yarn sdk
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/22ea77d9.yml
Due: pretty-quick --staged, essex prettify --staged
