Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/b7ee96b1.yml
Due: pretty-quick --staged, essex prettify --staged

update semver
  .yarn/versions/b7ee96b1.yml
Due: pretty-quick --staged, essex prettify --staged

version cut
  .yarn/versions/b7ee96b1.yml
  packages/config-storybook/package.json
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

peer fix
  packages/config-storybook/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

Add Storybook 7 support; React 18 to build (#847)
  .github/workflows/ci.yml
  .yarn/versions/b7ee96b1.yml
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/babel.config.ts
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/preview.ts
  packages/scripts/src/steps/checkDeps.ts
  packages/test-stories/.storybook/babel.config.js
  packages/test-stories/.storybook/preview.js
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

sec fix
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

add aliases for @fluentui/react and @thematic/react in SB config
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/77de6724.yml
Due: pretty-quick --staged, essex prettify --staged

formatting update
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add styled-components alias
  packages/config-storybook/src/main.ts
  packages/test-stories/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run format
  packages/config-storybook/src/main.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Fix Storybook theme propagation issues via introducing aliases (#851)
  .yarn/versions/77de6724.yml
  packages/config-storybook/src/main.ts
  packages/test-stories/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/77de6724.yml
  packages/config-storybook/package.json
Due: pretty-quick --staged, essex prettify --staged

update libraries
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-storybook/src/manager.ts
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/.storybook/manager-head.html
  packages/test-stories/.storybook/manager.js
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/config-storybook/src/manager.ts
  packages/test-stories/.storybook/manager.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

lib updates
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update yarn
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update yarn.lock
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

version check
  .yarn/versions/5b4a4803.yml
Due: pretty-quick --staged, essex prettify --staged

upggrade lib
  packages/config-storybook/package.json
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update tsconfigs
  packages/config-ts-base/tsconfig.json
  packages/config-ts-node/package.json
  packages/config-ts-node/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/5b4a4803.yml
Due: pretty-quick --staged, essex prettify --staged

remove tsconfig rule
  packages/config-ts-base/tsconfig.json
Due: pretty-quick --staged, essex prettify --staged

update sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, essex prettify --staged

glob updates
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/rm.ts
  packages/scripts/src/steps/typescript/getSourceFiles.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/fixLineEndings.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

format
  packages/scripts/src/steps/typescript/getSourceFiles.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update mgr
  packages/config-storybook/src/manager.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update zip
  packages/scripts/src/steps/zip/zip.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Update Libraries (#866)
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarn/versions/5b4a4803.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-storybook/src/manager.ts
  packages/config-ts-base/tsconfig.json
  packages/config-ts-node/package.json
  packages/config-ts-node/tsconfig.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/rm.ts
  packages/scripts/src/steps/typescript/getSourceFiles.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/fixLineEndings.ts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/.storybook/manager-head.html
  packages/test-stories/.storybook/manager.js
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version cut
  .yarn/versions/5b4a4803.yml
  .yarnrc.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node14/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

lib updates
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/typescript/getSourceFiles.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/scripts/src/util/fixLineEndings.ts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/ae903ae5.yml
Due: pretty-quick --staged, essex prettify --staged

run format
  .vscode/extensions.json
  .vscode/settings.json
  rome.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

fix rome issues
  package.json
  packages/config-jest/resolver.cjs
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/manager.ts
  packages/eslint-plugin/src/rules/extensions.ts
  packages/test-zips/data/foo/derp.json
  rome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

fix rimraf import
  packages/scripts/src/steps/rm.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

use rome for import sorting
  package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/manager.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/essex/ruleConfigurations.ts
  packages/scripts/src/steps/esmify/index.mts
  packages/scripts/src/steps/init/monorepo.mts
  packages/scripts/src/steps/zip/zip.mts
  rome.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove some unused packages
  .yarnrc.yml
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

cut releaseu
  .yarn/versions/ae903ae5.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

add fluent 9 theme provider to ThematicFluentDecorator
  .vscode/settings.json
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Path conditions:
  pretty-quick --staged: any of: **/*
  yarn essex lint --fix --staged: any of: **/*.{js,jsx,ts,tsx}
  essex prettify --staged: any of: *
  essex lint --fix --staged: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
