Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Update Fluent, Babel (#919)
  .yarn/versions/ce709d62.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove resolve ts plugin
  packages/config-webpack/package.json
  packages/config-webpack/src/configure.ts
  packages/config-webpack/src/outputConfig/getResolvePlugins.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/90450cd8.yml
Due: pretty-quick --staged, essex prettify --staged

Remove `resolve-typescript-plugin` (#920)
  .yarn/versions/90450cd8.yml
  packages/config-webpack/package.json
  packages/config-webpack/src/configure.ts
  packages/config-webpack/src/outputConfig/getResolvePlugins.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove resolve-ts-plugin
  packages/config-storybook/package.json
  packages/config-storybook/src/main.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/757be21f.yml
Due: pretty-quick --staged, essex prettify --staged

remove resolve-ts-plugin (#921)
  .yarn/versions/757be21f.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/main.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Remove ESLint
  .yarnrc.yml
  package.json
  packages/scripts/README.md
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
Due: pretty-quick --staged, essex prettify --staged

remove eslint sdk
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version check
  .yarn/versions/1ea1870d.yml
Due: pretty-quick --staged, essex prettify --staged

update webpack and types
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update yarn
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update yarn (#923)
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Library updates
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

biome config update
  biome.json
Due: pretty-quick --staged, essex prettify --staged

vite update
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-vite/package.json
  packages/test-vite/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update vite
  .gitignore
  packages/config-vite/package.json
  packages/config-vite/tsconfig.json
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/d71122ea.yml
Due: pretty-quick --staged, essex prettify --staged

update yarn lock
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update yarnrc
  .yarnrc.yml
Due: pretty-quick --staged, essex prettify --staged

format
  packages/test-vite/tsconfig.json
Due: pretty-quick --staged, essex prettify --staged

update serve command
  packages/scripts/src/steps/webpack/serve.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

June 2024 Library Updates (#924)
  .gitignore
  .yarn/versions/d71122ea.yml
  .yarnrc.yml
  biome.json
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-vite/tsconfig.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/webpack/serve.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-vite/tsconfig.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Apply Semver
  .yarn/versions/1ea1870d.yml
  .yarn/versions/5a0e9d66.yml
  .yarn/versions/757be21f.yml
  .yarn/versions/76a52843.yml
  .yarn/versions/90450cd8.yml
  .yarn/versions/a01bc2d0.yml
  .yarn/versions/a3436b75.yml
  .yarn/versions/ce709d62.yml
  .yarn/versions/d71122ea.yml
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

Add release instructions, update biome.json
  biome.json
  packages/scripts/README.md
Due: pretty-quick --staged, essex prettify --staged

update instructions
  packages/scripts/README.md
Due: pretty-quick --staged, essex prettify --staged

update release script
  package.json
  packages/config-api-extractor/package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

sdk update
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

June 2024 Release (#925)
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarn/versions/1ea1870d.yml
  .yarn/versions/5a0e9d66.yml
  .yarn/versions/757be21f.yml
  .yarn/versions/76a52843.yml
  .yarn/versions/90450cd8.yml
  .yarn/versions/a01bc2d0.yml
  .yarn/versions/a3436b75.yml
  .yarn/versions/ce709d62.yml
  .yarn/versions/d71122ea.yml
  biome.json
  package.json
  packages/config-api-extractor/package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-ts-base/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node16/package.json
  packages/config-ts-node18/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/README.md
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/util-swc-opts/package.json
  turbo.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Path conditions:
  pretty-quick --staged: any of: **/*
  yarn essex lint --fix --staged: any of: **/*.{js,jsx,ts,tsx}
  essex prettify --staged: any of: *
  essex lint --fix --staged: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
