Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

semver
  .yarn/versions/20731680.yml
Due: pretty-quick --staged, essex prettify --staged

use cjs in custom webpack app
  packages/test-webpack-custom/package.json
  packages/test-webpack-custom/webpack.config.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

use esm
  packages/test-webpack-custom/package.json
  packages/test-webpack-custom/webpack.config.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update getConfig
  packages/scripts/src/steps/webpack/getConfig.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

forat
  packages/scripts/src/steps/webpack/getConfig.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update babel, webpack
  packages/config-babel/package.json
  packages/config-storybook/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update some libs
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update glob, micromatch
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

lib updates
  packages/config-storybook/package.json
  packages/config-webpack/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update react resolution
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

fix windows resolution
  packages/scripts/src/steps/webpack/getConfig.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/20968113.yml
Due: pretty-quick --staged, essex prettify --staged

Update webpack configuration
  packages/config-webpack/package.json
  packages/config-webpack/src/configure.ts
  packages/config-webpack/src/outputConfig/getResolvePlugins.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update semver
  .yarn/versions/20968113.yml
Due: pretty-quick --staged, essex prettify --staged

rebuild lockfile
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-stories/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

rebuild yarn.lock
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

rebuild yarn.lock
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

pin storybook version
  packages/config-storybook/package.json
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update peering
  .yarnrc.yml
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/05cff93a.yml
Due: pretty-quick --staged, essex prettify --staged

merge in webpack config updates
  packages/config-webpack/package.json
  packages/config-webpack/src/configure.ts
  packages/config-webpack/src/outputConfig/getResolvePlugins.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

udpate webpack
  packages/config-storybook/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-stories/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

fix scripts
  packages/scripts/src/steps/build-md-index/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

merge in windows fixes
  .yarn/versions/76a52843.yml
  packages/scripts/package.json
  packages/scripts/src/steps/webpack/getConfig.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

revert version change
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

windows md-index fix
  packages/scripts/src/steps/build-md-index/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

zip test fix
  packages/scripts/package.json
  packages/scripts/src/steps/zip/zip.mts
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

run formatter
  packages/scripts/src/steps/zip/zip.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

remove test docs
  packages/test-lib-dual/.gitignore
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-dual/docs/report/test-lib-dual.api.json
  packages/test-lib-dual/docs/report/test-lib-dual.api.md
  packages/test-lib-esm/.gitignore
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-esm/docs/report/test-lib-esm.api.json
  packages/test-lib-esm/docs/report/test-lib-esm.api.md
  packages/test-lib-md-index/docs/a.md
  packages/test-lib-md-index/docs/b.md
  packages/test-lib-md-index/docs/c.md
  packages/test-lib-md-index/docs/d/e.md
  packages/test-lib-md-index/docs/d/f/g.md
  packages/test-zips/.gitignore
Due: pretty-quick --staged, essex prettify --staged

update gitattributes
  .gitattributes
Due: pretty-quick --staged, essex prettify --staged

mkdirp dist in md-index
  packages/scripts/src/steps/build-md-index/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Windows Fixes (#917)
  .gitattributes
  .yarn/versions/76a52843.yml
  packages/scripts/package.json
  packages/scripts/src/steps/build-md-index/index.mts
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/test-lib-dual/.gitignore
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-dual/docs/report/test-lib-dual.api.json
  packages/test-lib-dual/docs/report/test-lib-dual.api.md
  packages/test-lib-esm/.gitignore
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-esm/docs/report/test-lib-esm.api.json
  packages/test-lib-esm/docs/report/test-lib-esm.api.md
  packages/test-lib-md-index/docs/a.md
  packages/test-lib-md-index/docs/b.md
  packages/test-lib-md-index/docs/c.md
  packages/test-lib-md-index/docs/d/e.md
  packages/test-lib-md-index/docs/d/f/g.md
  packages/test-zips/.gitignore
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update typescript
  .yarn/sdks/typescript/package.json
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/5a0e9d66.yml
Due: pretty-quick --staged, essex prettify --staged

Update TypeScript (#918)
  .yarn/sdks/typescript/package.json
  .yarn/versions/5a0e9d66.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-vite/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

lib updates
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-storybook/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-md-index/package.json
  packages/test-stories/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/ce709d62.yml
Due: pretty-quick --staged, essex prettify --staged
