Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

update deps
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

version bump
  .yarn/versions/0c12c02a.yml
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

refactor an interface spec
  packages/scripts/src/steps/webpack/getConfig.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update libraries
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove typedoc
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove typedoc step
  packages/scripts/src/steps/typedoc/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

remove react-jsx import rewrite
  package.json
  packages/scripts/src/steps/esmify/index.mts
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/964638f1.yml
Due: pretty-quick --staged, essex prettify --staged

work on api-extractor
  .vscode/settings.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/test-lib-legacy/docs/test-lib-legacy.api.md
  packages/test-lib-legacy/src/add.ts
  packages/test-lib-legacy/src/index.ts
  packages/test-lib-legacy/src/letters/index.ts
  packages/test-lib-legacy/src/rendering.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Add React 18 Support (#654)
  .vscode/settings.json
  .yarn/versions/964638f1.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/esmify/index.mts
  packages/scripts/src/steps/typedoc/index.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/docs/test-lib-legacy.api.md
  packages/test-lib-legacy/package.json
  packages/test-lib-legacy/src/add.ts
  packages/test-lib-legacy/src/index.ts
  packages/test-lib-legacy/src/letters/index.ts
  packages/test-lib-legacy/src/rendering.tsx
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version bump
  .yarn/versions/964638f1.yml
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update vscode sdks
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update packages
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

pin @types/react
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/58dcce10.yml
Due: pretty-quick --staged, essex prettify --staged

emit to dist/ instead of dist/lib in es6 mode
  packages/config-api-extractor/api-extractor.json
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  packages/test-lib-esm/package.json
  packages/test-lib-esm/tsconfig.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

configuration update
  .yarn/versions/58dcce10.yml
Due: pretty-quick --staged, essex prettify --staged

add jest-util to top
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

formatting updates
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/compile.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Library Updates; Streamlined ESM Config (#662)
  .yarn/versions/58dcce10.yml
  package.json
  packages/config-api-extractor/api-extractor.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-esm/tsconfig.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

lib updates
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/e91782f1.yml
Due: pretty-quick --staged, essex prettify --staged

Upgrade Libs (#665)
  .yarn/versions/e91782f1.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

version bump
  .yarn/versions/58dcce10.yml
  .yarn/versions/e91782f1.yml
  packages/config-api-extractor/package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

fix webpack serve warnings
  packages/scripts/src/steps/webpack/serve.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/d6785421.yml
Due: pretty-quick --staged, essex prettify --staged

fix formatting
  packages/scripts/src/steps/webpack/serve.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

add node 18.x to build
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

Fix/webpack serve warnings (#673)
  .github/workflows/ci.yml
  .yarn/versions/d6785421.yml
  packages/scripts/src/steps/webpack/serve.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

version bump
  .yarn/versions/d6785421.yml
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

update yarn, sdks, and dependencies
  .vscode/settings.json
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/70e6fc9d.yml
Due: pretty-quick --staged, essex prettify --staged

add vite/webpack startup aliases
  packages/test-vite/package.json
  packages/test-vite/src/App.tsx
  packages/test-webpack/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update vscode settings json
  .vscode/settings.json
Due: pretty-quick --staged, essex prettify --staged

add eslint-plugin-report
  packages/eslint-plugin-esm/README.md
  packages/eslint-plugin-esm/docs/rules/extensions.md
  packages/eslint-plugin-esm/jest.config.js
  packages/eslint-plugin-esm/package.json
  packages/eslint-plugin-esm/src/__tests__/fixtures/cjs/invalid.txt
  packages/eslint-plugin-esm/src/__tests__/fixtures/cjs/valid.txt
  packages/eslint-plugin-esm/src/__tests__/fixtures/esm/invalid.txt
  packages/eslint-plugin-esm/src/__tests__/fixtures/esm/valid.txt
  packages/eslint-plugin-esm/src/__tests__/rules/extensions.test.ts
  packages/eslint-plugin-esm/src/index.ts
  packages/eslint-plugin-esm/src/rules/extensions.defaults.ts
  packages/eslint-plugin-esm/src/rules/extensions.docs.ts
  packages/eslint-plugin-esm/src/rules/extensions.messages.ts
  packages/eslint-plugin-esm/src/rules/extensions.schema.ts
  packages/eslint-plugin-esm/src/rules/extensions.ts
  packages/eslint-plugin-esm/src/rules/extensions.validator.ts
  packages/eslint-plugin-esm/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

lint update
  packages/test-vite/src/App.tsx
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update yarn, sdks, and dependencies (#676)
  .vscode/settings.json
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  .yarn/versions/70e6fc9d.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint-plugin/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-vite/src/App.tsx
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/757ae57d.yml
Due: pretty-quick --staged, essex prettify --staged

add package metadata
  packages/eslint-plugin-esm/package.json
Due: pretty-quick --staged, essex prettify --staged

update js targets to es2021
  packages/eslint-plugin-esm/tsconfig.json
  packages/test-lib-esm/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/tsconfig.json
  packages/util-swc-opts/src/index.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged
