Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update turbo config
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

test change
  packages/test-vite/index.html
Due: pretty-quick --staged, essex prettify --staged

update ci to support build caching (#685)
  .github/workflows/ci.yml
  .yarn/versions/56869f3b.yml
  package.json
  packages/test-vite/index.html
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

dependency refresh
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove workspace-tools plugin
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/1af4c601.yml
Due: pretty-quick --staged, essex prettify --staged

Dependency Refresh (#687)
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/versions/1af4c601.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

version cut
  .yarn/versions/1af4c601.yml
  .yarn/versions/3fb58c20.yml
  .yarn/versions/56869f3b.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update vscode sdks
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, essex prettify --staged

add update_sdks command
  .vscode/settings.json
  package.json
Due: pretty-quick --staged, essex prettify --staged

add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: pretty-quick --staged, essex prettify --staged

update top-level CI
  .github/workflows/ci.yml
  .vscode/settings.json
  package.json
  tsconfig.json
Due: pretty-quick --staged, essex prettify --staged

add test suite for custom-webpack config in CJS; get webpack apps building
  .eslintrc
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/config-webpack/src/configure.ts
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/webpack/build.mts
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/scripts/src/steps/webpack/serve.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/.swcrc
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-cjs/src/App.tsx
  packages/test-webpack-custom-cjs/src/index.css
  packages/test-webpack-custom-cjs/src/index.tsx
  packages/test-webpack-custom-cjs/src/state/index.ts
  packages/test-webpack-custom-cjs/tsconfig.json
  packages/test-webpack-custom-cjs/webpack.config.js
  packages/test-webpack-custom-esm/.swcrc
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack-custom-esm/src/App.tsx
  packages/test-webpack-custom-esm/src/index.css
  packages/test-webpack-custom-esm/src/index.tsx
  packages/test-webpack-custom-esm/src/state/index.ts
  packages/test-webpack-custom-esm/tsconfig.json
  packages/test-webpack-custom-esm/webpack.config.js
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/8994e036.yml
Due: pretty-quick --staged, essex prettify --staged

make config-babel cjs
  packages/config-babel/package.json
Due: pretty-quick --staged, essex prettify --staged

fix ladle imports
  packages/scripts/src/steps/stories/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

add jest configs to webpack cjs/esm packages
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/test-webpack-custom-cjs/jest.config.js
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-cjs/src/__tests__/App.spec.ts
  packages/test-webpack-custom-esm/jest.config.js
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack-custom-esm/src/__tests__/App.spec.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

streamline package configuration
  packages/config-babel/resolve.cjs
  packages/config-babel/resolve.d.ts
  packages/config-babel/src/createBabelConfig.ts
  packages/config-babel/src/index.ts
  packages/config-jest/package.json
  packages/config-jest/resolve.cjs
  packages/config-jest/resolve.d.ts
  packages/config-jest/src/index.ts
  packages/config-vite/.swcrc
  packages/config-vite/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

apply semver
  .yarn/versions/8994e036.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

dependency update sweep
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

upgrade yarn to 3.2.2
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

rollback @ladle/recat to 1.x
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

make scripts/ esm
  packages/scripts/package.json
  packages/scripts/src/entry.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

update config loading from cjs pkgs
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/test-webpack-custom-esm/webpack.config.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update semver
  .yarn/versions/0b8cfc6f.yml
Due: pretty-quick --staged, essex prettify --staged

drop node 14
  .github/workflows/ci.yml
Due: pretty-quick --staged, essex prettify --staged

use vite 3 in vite tester
  packages/config-vite/package.json
  packages/scripts/package.json
  packages/test-vite/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

delete unused program listener
  packages/scripts/src/entry.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Dependency Sweep (#738)
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/versions/0b8cfc6f.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/entry.mts
  packages/scripts/src/steps/webpack/getConfig.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack-custom-esm/webpack.config.js
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

upgrade packages
  .yarn/versions/8930278a.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update sdks
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
Due: pretty-quick --staged, essex prettify --staged

add @essex/tsconfig-node18
  packages/config-babel/package.json
  packages/config-babel/tsconfig.json
  packages/config-ts-node18/package.json
  packages/config-ts-node18/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update swc
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update libraries, yarn
  .vscode/settings.json
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-ts-node/package.json
  packages/config-ts-node/tsconfig.json
  packages/config-ts-node16/tsconfig.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/extensions.ts
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

pkg updates
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-zips/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/0b8cfc6f.yml
Due: pretty-quick --staged, essex prettify --staged

yarn update
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

lib updates
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/extensions.ts
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Path conditions:
  pretty-quick --staged: any of: **/*
  yarn essex lint --fix --staged: any of: **/*.{js,jsx,ts,tsx}
  essex prettify --staged: any of: *
  essex lint --fix --staged: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
