Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

fix vite config
  packages/config-vite/package.json
  packages/config-vite/src/index.ts
  packages/test-vite/tsconfig.json
  packages/test-vite/vite.config.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/8930278a.yml
Due: pretty-quick --staged, essex prettify --staged

lint fix
  packages/eslint-plugin/src/rules/extensions.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version bump
  .yarn/versions/0b8cfc6f.yml
  .yarn/versions/8930278a.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

pin api extractor version
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update swc config to preserve import assertions
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  packages/util-swc-opts/src/index.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/ed6e4525.yml
Due: pretty-quick --staged, essex prettify --staged

update semver
  .yarn/versions/ed6e4525.yml
Due: pretty-quick --staged, essex prettify --staged

Task/preserve import assertions (#774)
  .yarn/versions/ed6e4525.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  packages/util-swc-opts/src/index.ts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

version bump
  .yarn/versions/ed6e4525.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

upgrade yarn
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

library updates
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

emit useful api documentation
  packages/config-api-extractor/api-extractor.json
  packages/scripts/package.json
  packages/scripts/src/commands/_clean.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/rm.ts
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-dual/docs/report/test-lib-dual.api.json
  packages/test-lib-dual/docs/report/test-lib-dual.api.md
  packages/test-lib-dual/package.json
  packages/test-lib-dual/src/add.ts
  packages/test-lib-dual/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

generate docs in test packages
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-esm/docs/report/test-lib-esm.api.json
  packages/test-lib-esm/docs/report/test-lib-esm.api.md
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/docs/markdown/index.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.add.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.c.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.helloworld.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.md
  packages/test-lib-legacy/docs/report/test-lib-legacy.api.json
  packages/test-lib-legacy/docs/report/test-lib-legacy.api.md
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/7ed42560.yml
Due: pretty-quick --staged, essex prettify --staged

run docs-clean tasks in parallel
  packages/scripts/src/steps/api-extractor/index.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

remove .md from .gitattributes
  .gitattributes
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-legacy/docs/markdown/index.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.add.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.c.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.helloworld.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.md
Due: pretty-quick --staged, essex prettify --staged

version cut
  .yarn/versions/7ed42560.yml
  package.json
  packages/config-api-extractor/package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update libraries
  .yarn/sdks/eslint/package.json
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver, some more updates
  .yarn/versions/17a735fe.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

add --noFormat option to lint
  packages/scripts/src/commands/_lint.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver update, scripts=minor
  .yarn/versions/17a735fe.yml
Due: pretty-quick --staged, essex prettify --staged

Library Updates (#805)
  .yarn/sdks/eslint/package.json
  .yarn/versions/17a735fe.yml
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/scripts/src/commands/_lint.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/17a735fe.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update codeowners
  CODEOWNERS
Due: pretty-quick --staged, essex prettify --staged

update libraries
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/d60b6ad8.yml
Due: pretty-quick --staged, essex prettify --staged

upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  package.json
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

sdk updates
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update yarn
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

rome experiment
  .husky/.gitignore
  .husky/pre-commit
  .vscode/settings.json
  package.json
  packages/scripts/src/entry.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-vite/src/App.tsx
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-cjs/src/App.tsx
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack-custom-esm/src/App.tsx
  packages/test-webpack/package.json
  packages/test-webpack/src/App.tsx
  packages/test-zips/package.json
  rome.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

rome updates
  .yarnrc.yml
  package.json
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/rules/adjacent-await.ts
  packages/eslint-plugin/src/rules/extensions.ts
  packages/eslint-plugin/src/rules/extensions.validator.ts
  packages/eslint-plugin/test/utils/adaptTslintTestCase.js
  packages/scripts/src/commands/_clean.mts
  packages/scripts/src/commands/_deploy.mts
  packages/scripts/src/commands/_lint.mts
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/steps/azure/deploy.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/esmify/index.mts
  packages/scripts/src/steps/init/monorepo.mts
  packages/scripts/src/steps/init/util.mts
  packages/scripts/src/steps/lint-staged/configure.mts
  packages/scripts/src/steps/pretty-quick/index.mts
  packages/scripts/src/steps/typescript/checkAndEmitTypings.mts
  packages/scripts/src/steps/typescript/compile.mts
  packages/scripts/src/steps/typescript/getSourceFiles.mts
  packages/scripts/src/steps/verifyExports/checkApi.mts
  packages/scripts/src/steps/verifyExports/index.mts
  packages/scripts/src/steps/verifyPackage/index.mts
  packages/scripts/src/steps/webpack/serve.mts
  packages/scripts/src/steps/zip/zip.mts
  packages/test-zips/src/__tests__/zips.spec.ts
  packages/util-shellrunner/src/strategies/execute.ts
  packages/util-shellrunner/src/strategies/parallel.ts
  rome.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

revert linker to pnp
  .yarnrc.yml
Due: pretty-quick --staged, essex prettify --staged

remove pre-commit hooks
  .husky/.gitignore
  .husky/pre-commit
  package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

upgrade vite
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-vite/package.json
  packages/util-shellrunner/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

Library Updates (#818)
  .husky/.gitignore
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarn/versions/d60b6ad8.yml
  .yarnrc.yml
  package.json
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

add rome-mode to disable rules with rome equivalents
  package.json
  packages/config-eslint/rome.js
  packages/eslint-plugin/src/essex/createConfiguration.ts
  packages/eslint-plugin/src/essex/overrides.ts
  packages/eslint-plugin/src/index.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Path conditions:
  pretty-quick --staged: any of: **/*
  yarn essex lint --fix --staged: any of: **/*.{js,jsx,ts,tsx}
  essex prettify --staged: any of: *
  essex lint --fix --staged: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
