Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

cut release
  .yarn/versions/45c7a327.yml
  .yarn/versions/6c7b29d4.yml
  .yarn/versions/878aadfc.yml
  .yarn/versions/d60b6ad8.yml
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

add typescript peerdep to webpack config
  packages/config-webpack/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

mark webpack, typescript as optional in webpack config
  packages/config-webpack/package.json
Due: pretty-quick --staged, essex prettify --staged

mark typescript and webpack as optional peerdeps
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

remove scripts dependency from some internal libs
  .yarn/versions/b21f00ec.yml
  packages/config-prettier/package.json
  packages/config-vite/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

Update optional deps in @essex/scripts (#829)
  .yarn/versions/b21f00ec.yml
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/scripts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

cut release
  .yarn/versions/b21f00ec.yml
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

open up webpack peer
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

update yarn.lock
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

print git status when not clean
  packages/scripts/package.json
  packages/scripts/src/commands/_git-is-clean.mts
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/970da480.yml
Due: pretty-quick --staged, essex prettify --staged

lint
  packages/scripts/src/commands/_git-is-clean.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

Print git status when `essex git-is-clean` fails. (#830)
  .yarn/versions/970da480.yml
  packages/scripts/package.json
  packages/scripts/src/commands/_git-is-clean.mts
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/970da480.yml
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

convert CRLF to LF when generating markdown documentation for libraries
  packages/scripts/package.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/util/fixLineEndings.ts
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-legacy/docs/markdown/index.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.add.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.c.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.helloworld.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.md
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/fca0fbee.yml
Due: pretty-quick --staged, essex prettify --staged

run 'fix'
  package.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/util/fixLineEndings.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add @ts-ignore flag to crlf import
  packages/scripts/src/util/fixLineEndings.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

Convert CRLF to LF when generating markdown documentation for libraries (#831)
  .yarn/versions/fca0fbee.yml
  package.json
  packages/scripts/package.json
  packages/scripts/src/steps/api-extractor/index.mts
  packages/scripts/src/util/fixLineEndings.ts
  packages/test-lib-dual/docs/markdown/index.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.a.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.add.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.helloworld.md
  packages/test-lib-dual/docs/markdown/test-lib-dual.md
  packages/test-lib-esm/docs/markdown/index.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.add.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.b.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.defaultexport.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.helloworld.md
  packages/test-lib-esm/docs/markdown/test-lib-esm.md
  packages/test-lib-legacy/docs/markdown/index.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.add.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.c.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.helloworld.md
  packages/test-lib-legacy/docs/markdown/test-lib-legacy.md
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

release
  .yarn/versions/fca0fbee.yml
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

add check-deps command
  package.json
  packages/scripts/docs/check-deps.md
  packages/scripts/package.json
  packages/scripts/src/commands/_check-deps.mts
  packages/scripts/src/steps/checkDeps.ts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add check-deps to web testers
  .yarn/versions/1a2fd637.yml
  packages/test-vite/package.json
  packages/test-webpack/package.json
Due: pretty-quick --staged, essex prettify --staged

add check-deps to ci
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

run linter & formatter
  packages/scripts/src/commands/_check-deps.mts
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update turbo.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

Add check-deps command to @essex/scripts (#832)
  .yarn/versions/1a2fd637.yml
  package.json
  packages/scripts/docs/check-deps.md
  packages/scripts/package.json
  packages/scripts/src/commands/_check-deps.mts
  packages/scripts/src/steps/checkDeps.ts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
  turbo.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

release
  .yarn/versions/1a2fd637.yml
  packages/scripts/package.json
  packages/test-lib-md-index/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

patch essex/scripts version
  packages/scripts/package.json
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

ease up on ignored packages
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update ignorelist
  packages/scripts/package.json
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update tsconfig ignore
  packages/scripts/package.json
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

add jest-environment to checkdepignore
  packages/scripts/package.json
  packages/scripts/src/steps/checkDeps.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove 'essex serve-stories' command
  packages/scripts/package.json
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_serve-stories.mts
  packages/scripts/src/steps/checkDeps.ts
  packages/scripts/src/steps/stories/index.mts
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/81a33ae2.yml
Due: pretty-quick --staged, essex prettify --staged

remove --stories flag from test-lib-esm
  packages/test-lib-esm/package.json
Due: pretty-quick --staged, essex prettify --staged

Remove Ladle and `essex serve-stories` command (#833)
  .yarn/versions/81a33ae2.yml
  packages/scripts/package.json
  packages/scripts/src/commands/_build.mts
  packages/scripts/src/commands/_serve-stories.mts
  packages/scripts/src/steps/checkDeps.ts
  packages/scripts/src/steps/stories/index.mts
  packages/test-lib-esm/package.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

cut release
  .yarn/versions/81a33ae2.yml
  packages/scripts/package.json
Due: pretty-quick --staged, essex prettify --staged

add common storybook config package
  .yarnrc.yml
  packages/config-storybook/package.json
  packages/config-storybook/src/ThematicFluentDecorator.tsx
  packages/config-storybook/src/babel.config.ts
  packages/config-storybook/src/index.ts
  packages/config-storybook/src/main.ts
  packages/config-storybook/src/preview.ts
  packages/config-storybook/tsconfig.json
  packages/test-stories/.storybook/babel.config.js
  packages/test-stories/.storybook/main.js
  packages/test-stories/.storybook/preview.js
  packages/test-stories/package.json
  packages/test-stories/src/test.stories.tsx
  packages/test-stories/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/2705a60d.yml
Due: pretty-quick --staged, essex prettify --staged
