Repository microsoft/essex-build: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

.lintstagedrc:

{
  "**/*": [
    "pretty-quick --staged"
  ],
  "**/*.{js,jsx,ts,tsx}": [
    "yarn essex lint --fix --staged"
  ]
}

.lintstagedrc.json:

{
	"*": ["essex prettify --staged"],
	"*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["essex lint --fix --staged"]
}

add romefast config to disable typeaware rules
  .eslintrc
  package.json
  packages/config-eslint/.eslintrc
  packages/config-eslint/romefast.js
  packages/eslint-plugin/src/index.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

skip formatting in lint scripts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
Due: pretty-quick --staged, essex prettify --staged

make not of compatibility matrix source
  packages/eslint-plugin/src/essex/overrides.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/45c7a327.yml
Due: pretty-quick --staged, essex prettify --staged

rename 'r-' scripts to 'rome:'
  .github/workflows/ci.yml
  package.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

restore lint_all top-level script
  package.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

fix lint_all name in turbo.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

update romefast.js to point to the correct plugin preset
  packages/config-eslint/romefast.js
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove prettier configs
  .prettierignore
  .prettierrc
Due: pretty-quick --staged, essex prettify --staged

add rome extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Due: pretty-quick --staged, essex prettify --staged

cut release
  packages/config-babel/package.json
  packages/config-eslint/package.json
  packages/config-jest/package.json
  packages/config-prettier/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
Due: pretty-quick --staged, essex prettify --staged

update dev standards
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

slightly reorder tasks
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

add clean to standard build tasks
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

refactor into check/fix scripts
  docs/js-dev-standards.md
  package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

semver
  .yarn/versions/878aadfc.yml
Due: pretty-quick --staged, essex prettify --staged

describe task nature and use-time per task
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

pr comments
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

add version check note
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

add is-clean script
  docs/js-dev-standards.md
  package.json
Due: pretty-quick --staged, essex prettify --staged

add fail-fast to principles
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

update is-clean check
  docs/js-dev-standards.md
  package.json
Due: pretty-quick --staged, essex prettify --staged

update is-clean
  docs/js-dev-standards.md
  package.json
Due: pretty-quick --staged, essex prettify --staged

Add JS Dev Standards Doc (#825)
  .yarn/versions/878aadfc.yml
  docs/js-dev-standards.md
  package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  turbo.json
Due: pretty-quick --staged, essex prettify --staged

update core libraries
  package.json
  packages/config-babel/package.json
  packages/config-jest/package.json
  packages/config-vite/package.json
  packages/config-webpack/package.json
  packages/eslint-plugin/package.json
  packages/scripts/package.json
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-lib-md-index/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
  packages/util-shellrunner/package.json
  packages/util-swc-opts/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

clean up peers
  packages/config-eslint/package.json
  packages/config-webpack/package.json
  yarn.lock
Due: pretty-quick --staged, essex prettify --staged

update rimraf signature
  .yarnrc.yml
  packages/scripts/src/steps/rm.ts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

semver
  .yarn/versions/6c7b29d4.yml
Due: pretty-quick --staged, essex prettify --staged

remove pre-commit script
  packages/scripts/package.json
  packages/scripts/src/commands/_git-is-clean.mts
  packages/scripts/src/commands/_lint.mts
  packages/scripts/src/commands/_pre-commit.mts
  packages/scripts/src/steps/lint-staged/configure.mts
  packages/scripts/src/steps/lint-staged/index.mts
  packages/util-shellrunner/.npmignore
  packages/util-shellrunner/.swcrc
  packages/util-shellrunner/CHANGELOG.md
  packages/util-shellrunner/README.md
  packages/util-shellrunner/package.json
  packages/util-shellrunner/src/index.ts
  packages/util-shellrunner/src/log.ts
  packages/util-shellrunner/src/run.ts
  packages/util-shellrunner/src/strategies/execute.ts
  packages/util-shellrunner/src/strategies/index.ts
  packages/util-shellrunner/src/strategies/parallel.ts
  packages/util-shellrunner/src/strategies/single.ts
  packages/util-shellrunner/src/types.ts
  packages/util-shellrunner/tsconfig.json
  yarn.lock
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

pkg.json update
  package.json
Due: pretty-quick --staged, essex prettify --staged

major bump scripts
  .yarn/versions/6c7b29d4.yml
Due: pretty-quick --staged, essex prettify --staged

update top-level script names to match js standards
  packages/scripts/docs/check.md
  packages/scripts/docs/fix.md
  packages/scripts/docs/format.md
  packages/scripts/docs/prettify.md
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_format.mts
  packages/scripts/src/commands/_lint.mts
  packages/scripts/src/commands/_prettify.mts
  packages/scripts/src/steps/pretty-quick/index.mts
  packages/scripts/src/steps/runFormatter.ts
  packages/scripts/src/types.mts
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

update dev standards script
  docs/js-dev-standards.md
Due: pretty-quick --staged, essex prettify --staged

cleaning up updated commands
  package.json
  packages/scripts/README.md
  packages/scripts/config/init/docsignore
  packages/scripts/config/init/docsrc.json
  packages/scripts/config/init/huskyrc.json
  packages/scripts/config/init/lintstagedrc.json
  packages/scripts/config/lintstagedrc.json
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_format.mts
  packages/scripts/src/steps/eslint/index.mts
  packages/scripts/src/steps/runFormatter.ts
  packages/scripts/src/types.mts
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack-custom-cjs/package.json
  packages/test-webpack-custom-esm/package.json
  packages/test-webpack/package.json
  packages/test-zips/package.json
Due: pretty-quick --staged, yarn essex lint --fix --staged, essex prettify --staged, essex lint --fix --staged

remove rome opt for now
  packages/scripts/src/commands/_check.mts
  packages/scripts/src/commands/_fix.mts
  packages/scripts/src/commands/_format.mts
  packages/scripts/src/types.mts
Due: pretty-quick --staged, essex prettify --staged, essex lint --fix --staged

add check to packages
  packages/test-lib-dual/package.json
  packages/test-lib-esm/package.json
  packages/test-lib-legacy/package.json
  packages/test-vite/package.json
  packages/test-webpack/package.json
Due: pretty-quick --staged, essex prettify --staged

script update
  packages/test-vite/package.json
Due: pretty-quick --staged, essex prettify --staged

prune shellrunner updates
  .yarn/versions/45c7a327.yml
  .yarn/versions/d60b6ad8.yml
Due: pretty-quick --staged, essex prettify --staged
